/.idea/

# Default ignored files
/shelf/
/workspace.xml

# Maven
/target/

# IntelliJ IDEA
/.idea/

# Spring Boot
*.log
/logs/
/build/

# Database Secrets
src/main/resources/application-local.properties